/*
 * ----------------------------------------
 * Homepage & Other Pages
 * ----------------------------------------
 */
.btn {
    display: flex;
    justify-content: center;
    &__mainstyled {
        @include settings__btn;
        &:active {
            background:linear-gradient(to top, $primary, $secondary);
            opacity: 0.9;
        }
        /* after for "Version Desktop" -> add :HOVER */
    }
}