/*
 * ----------------------------------------
 * Homepage & Other Pages
 * ----------------------------------------
 */
.btn {
    display: flex;
    justify-content: center;
    &__mainstyled {
        @include settings__btn;
        &:active {
            background:linear-gradient(to top, $primary, $secondary);
            opacity: 0.9;
        }
        /* after for "Version Desktop" -> add :HOVER */
    }
}
/*
 * ----------------------------------------
 * Button like
 * ----------------------------------------
 */
.empty-heart {
    position: absolute;
    visibility: visible;
    transform: scale(1);
    transition: transform 500ms;
    &:active {
        visibility: hidden;
        cursor: pointer;
    }
}
.anim-heart {
    position: absolute;
    color: $secondary;
    opacity: 0;
    &:active {
        transform: scale(1.1);
        visibility: visible;
        cursor: pointer;
        opacity: 1;
    }
}