/*
 * ----------------------------------------
 * All
 * ----------------------------------------
 */
 * {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    @include desktop-only {
        background-color: blue;
    }
}