* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: auto;
    font-size: 18px;
}
a {
    text-decoration: none;
}
a:visited {
    color: black;
}