/*
 * ----------------------------------------
 * Homepage
 * ----------------------------------------
 */
.reservation {
    &__title {
        height: 110px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 40px;
    }
    &__about {
        height: 45px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}
.functioning {
    &__title {
        margin-top: 48px;
    }
    &__step {
        display: flex;
        flex-direction: column;
    }
}
.restaurants {
    &__title {
        padding-top: 55px;
    }
    &__card {
        display: flex;
        flex-direction: column;
    }
}
/*
 * ----------------------------------------
 * Other Pages
 * ----------------------------------------
 */
.menu {
    &__title {
        padding-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10%;
    }
    &__space {
        padding-left: 3%;
    }
    &__like {
        display: flex;
        align-items: center;
        font-size: 22px;
    }
    &__choice {
        @include settings__menu__choice;
    }
}