/*
 * ----------------------------------------
 * Homepage
 * ----------------------------------------
 */
.reservation {
    &__title {
        height: 110px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 40px;
    }
    &__about {
        height: 45px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}
.functioning {
    &__title {
        margin-top: 48px;
         /*
         * ----------------------------------------
         * Responsive mode desktop
         * ----------------------------------------
         */
         @include desktop-only {
            padding-left: 11%;
        }
    }
    &__step {
        display: flex;
        flex-direction: column;
        /*
         * ----------------------------------------
         * Responsive mode desktop
         * ----------------------------------------
         */
        @include desktop-only {
            flex-direction: row;
            justify-content: center;
        }
    }
}
.restaurants {
    &__title {
        padding-top: 55px;
        /*
         * ----------------------------------------
         * Responsive mode desktop
         * ----------------------------------------
         */
         @include desktop-only {
            padding-left: 11%;
        }
    }
    &__card {
        display: flex;
        flex-direction: column;
        /*
         * ----------------------------------------
         * Responsive mode desktop
         * ----------------------------------------
         */
         @include desktop-only {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 7%;
            justify-content: center;
            padding-left: 4%;
        }
    }
    
}
/*
 * ----------------------------------------
 * Other Pages
 * ----------------------------------------
 */
.menu {
    &__title {
        padding-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10%;
    }
    &__space {
        padding-left: 3%;
         /*
         * ----------------------------------------
         * Responsive mode desktop
         * ----------------------------------------
         */
         @include desktop-only {
            margin-left: 17%;
        }
    }
    &__like {
        display: flex;
        align-items: center;
        font-size: 22px;
    }
    &__containt {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }
    &__price {
        transform: translate(150%, 0);
        transition: transform 1000ms;
        padding-right: 10px;
    }
    &__choice {
        @include settings__menu__choice;
        transition: transform 330ms ease-in-out;
        /*
         * ----------------------------------------
         * Responsive mode desktop
         * ----------------------------------------
         */
         @include desktop-only {
            width: 75%;
        }
        /*
        * ----------------------------------------
        */
        &:hover .menu__price {
            transform: translate(0%, 0);
            transition: transform 1000ms;
        }
        &:hover .box {
            transform: translate(0%, 0);
            transition: transform 1000ms;
            i {
                transform: rotate(-1turn);
                transition: transform 1000ms ease-in-out;
            }
        }
    }    
}
.box {
    height: 70px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
    background: #99E2D0;
    position: relative;
    transform: translate(100%, 0);
    transition: transform 1000ms;
}
.fa-circle-check {
    color: white;
    font-size: 22px;
}