.endpage {
    height: 197px;
    background-color: red;
    padding-top: 22px;
    padding-left: 5%;

    .logo_omf_bot{
        width: 137px;
        height: 27px;
    }

    ul {
        padding-top: 9px;
        padding-inline-start: initial;
    }

    li {
        display: flex;
        padding-top: 7px;
    }
}